# Dependencies
node_modules/

# Environment Secrets (CRITICAL)
.env

# OS Metadata
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Database files
*.db

# Python virtual environment
backend/ml/venv/